<!DOCTYPE html>
<html>

<head>

<title>Skillia Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<div class="sidebar">

<h2>SKI</h2>

<a href="/dashboard">Dashboard</a>
<a href="/profile">Perfil</a>

<a href="/logout">Sair</a>

</div>

<div class="content">

<div class="hero">

<h1>
Olá {{ user.name }}
</h1>

<p>
A SKI analisou seu perfil.
</p>

</div>

<div class="cards">

<div class="card">
<h3>Vagas Compatíveis</h3>
<h2>14</h2>
</div>

<div class="card">
<h3>Cursos Recomendados</h3>
<h2>7</h2>
</div>

<div class="card">
<h3>Match Médio</h3>
<h2>87%</h2>
</div>

</div>

<div class="upload-section">

<h2>
Enviar Currículo
</h2>

<form
action="/upload-resume"
method="POST"
enctype="multipart/form-data">

<input
type="file"
name="resume">

<button>
Analisar Currículo
</button>

</form>

</div>

<div class="ski-card">

<h2>
🤖 SKI Recomenda
</h2>

<ul>

<li>Curso de React</li>

<li>Curso de Docker</li>

<li>Vaga Python Júnior</li>

<li>Vaga Analista de Dados</li>

</ul>

</div>

</div>

</body>

</html>